setuptools
pytz
pyyaml
paho-mqtt
Flask
flask-restful
flask-sqlalchemy
colorlog
aiohttp
pyfiglet
voluptuous
protobuf


# swagger
swagger-tester
swagger-parser>=0.1.11
connexion>=1.0.121
requests~=2.11

#rtmp
opencv-python

# demos needed

# deep learning
tensorflow>=1.10.1
# tensorflow-gpu
matplotlib

#test
pytest
ipython

