setuptools
pytz
pyyaml
paho-mqtt
Flask
flask-restful
flask-sqlalchemy
colorlog
aiohttp
pyfiglet
voluptuous
protobuf


# swagger
pyswagger
requests~=2.11
swagger-tester
swagger-parser

#rtmp
opencv-python

# demos needed

# deep learning
tensorflow>=1.10.1
# tensorflow-gpu
matplotlib

#test
pytest
ipython

