setuptools
pytz==2018.9
PyYAML==5.1
paho-mqtt==1.4.0
PyYAML==5.1
Flask==1.0.2
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
colorlog==4.0.2
aiohttp==3.5.4
yfiglet==0.8.post1
voluptuous==0.11.5
protobuf==3.7.0
tornado==6.0.2

# swagger
pyswagger==0.8.39
requests~=2.11
swagger-tester==0.2.12
swagger-parser==1.0.1

#rtmp
opencv-python==4.0.0.21

# demos needed

# deep learning
tensorflow==1.13.1
# tensorflow-gpu
matplotlib==3.0.3

#test
pytest==4.3.1

